<div class="container">
    <div class="channel">
        <a class="logo">
            <img ng-src="./images/zhigou.png">
        </a>
        <ul>
            <li><a class="channel-item"><span>推荐</span></a></li>
            <li><a class="channel-item"><span>银河系</span></a></li>
            <li><a class="channel-item"><span>本地</span></a></li>
            <li><a class="channel-item"><span>视频</span></a></li>
            <li><a class="channel-item"><span>外太空</span></a></li>
        </ul>
    </div>
    <div class="content">
        2
        <ui-view></ui-view>
    </div>
    <div class="container-right">
3
    </div>
</div>
